{% extends layout ?: 'SyliusPayumBundle::layout.html.twig' %}

{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% block stylesheets %}
    {{ parent() }}
    {% include '@SyliusUi/_stylesheets.html.twig' with {
        'path' : 'bundles/sbarbatsyliussagepayplugin/card.css'
    } %}
{% endblock %}

{% block content %}
    {{ parent() }}

    <div class="ui raised very padded text container segment">
        <h1 class="ui header">
            <div class="content">
                Payment
                <div class="sub header">
                    {% if payment is defined %}
                        {% if payment.order is defined %}
                            <p>Payment for order #{{ payment.order.number }}</p>
                        {% endif %}
                        {% if payment.amount is defined and payment.currencyCode is defined %}
                            <p><strong>{{ money.format(payment.amount, payment.currencyCode) }}</strong></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </h1>

        <div class="ui centered grid">
            <div class="wide column">
                <div class='card-wrapper'></div>
            </div>
        </div>

        <div class="error-list ui error message hidden">
            <i class="close icon"></i>
            <div class="header">
                There were some errors with your payment
            </div>
            <ul class="list"></ul>
        </div>

        <form class="ui loadable form" method="POST" action="{{ actionUrl }}">
            <div class="fields">
                <div class="sixteen wide field">
                    <label for="frmNameCC">Name</label>
                    <input id="frmNameCC" type="text" data-card-details="cardholder-name" name="name" required autocomplete="cc-name" placeholder="Name on card">
                </div>
            </div>
            <div class="fields">
                <div class="seven wide field">
                    <label for="frmCCNum">Card Number</label>
                    <input id="frmCCNum" type="number" data-card-details="card-number" name="number" required autocomplete="cc-number" maxlength="20" placeholder="Card #">
                </div>
                <div class="three wide field">
                    <label for="frmCCCVC">CVC</label>
                    <input id="frmCCCVC" type="number" data-card-details="security-code" required autocomplete="cc-csc" name="cvc" maxlength="4" placeholder="CVC">
                </div>
                <div class="six wide field">
                    <label for="frmCCExp">Expiration</label>
                    <input id="frmCCExp" type="text" data-card-details="expiry-date" name="expiry" maxlength="7" required autocomplete="cc-exp" placeholder="Expiry">
                </div>
            </div>

            <input type="hidden" name="card-identifier">
            <input type="hidden" name="merchant-session-key">

            <div class="submit-btn ui left disabled icon input">
                <input class="ui large blue icon labeled button" type="submit" value="Pay">
                <i class="check icon"></i>
            </div>
            

        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Loads jQuery if no loaded -->
    <script>
        window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">\x3C/script>')
    </script>
    <script src="{{ asset('bundles/sbarbatsyliussagepayplugin/card.js') }}"></script>

    <!-- Loads Sagepay SDK -->
    <script src="{{ sagepayJs }}"></script>

    <script>
        var $ = $ || jQuery;
        var merchantSessionKey = null;
        var submited = false;

        $(document).ready(function () {
            $('.submit-btn').removeClass('disabled');
            var errorList = $('.error-list');

            $('form').on('submit', function (e) {
                var form = $(this);

                if (false == submited) {
                    form.addClass('loading');

                    errorList.slideUp();
                    errorList.find('.list').html('');

                    e.preventDefault(e);

                    $.post('{{ actionUrl }}', {
                        'get_merchant_session': true,
                        'payum_token': '{{ token.hash }}'
                    }).then(function (response) {
                        var merchantKey = JSON.parse(response).merchantSessionKey;

                        var nameInput = $('[name="name"]');
                        var numberInput = $('[name="number"]');
                        var cvcInput = $('[name="cvc"]');
                        var expiryInput = $('[name="expiry"]');

                        var cardIdentifierInput = $('[name="card-identifier"]');
                        var merchantKeyInput = $('[name="merchant-session-key"]');

                        merchantKeyInput.val(merchantKey);

                        sagepayOwnForm({merchantSessionKey: merchantKey}).tokeniseCardDetails({
                            cardDetails: {
                                cardholderName: nameInput.val(),
                                cardNumber: numberInput.val().replace(/\s/g, ''),
                                expiryDate: expiryInput.val().replace('/', '').replace(/\s/g, ''),
                                securityCode: cvcInput.val()
                            },
                            onTokenised: function (result) {
                                if (result.success) {
                                    cardIdentifierInput.val(result.cardIdentifier);
                                    submited = true;
                                    form.submit();
                                } else {
                                    form.removeClass('loading');
                                    console.error(result);

                                    for (e in result.errors) {
                                        errorList.find('.list').append('<li>' + result.errors[e].message + '</li>');
                                    }
                                    errorList.removeClass('hidden');
                                    errorList.slideDown();
                                }
                            }
                        });
                    }).catch(function (error) {
                        console.error(error);
                        form.removeClass('loading');
                    })
                }
            });
        });

        var card = new Card({
            // a selector or DOM element for the form where users will
            // be entering their information
            form: 'form', // *required*
            // a selector or DOM element for the container
            // where you want the card to appear
            container: '.card-wrapper', // *required*

            // Default placeholders for rendered fields - optional
            placeholders: {
                number: '•••• •••• •••• ••••',
                name: 'Full Name',
                expiry: '••/••',
                cvc: '•••'
            },

            masks: {
                cardNumber: '•' // optional - mask card number
            }
        });
    </script>
{% endblock %}